body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-image: url("https://images.alphacoders.com/600/600977.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
}

#transparente {
    background-color: rgb(0, 0, 0, 0.533);
    background-size: cover;
    height: 100%;
}

.logob {
    background: rgb(79, 73, 206);
    background: linear-gradient(90deg, rgba(79, 73, 206, 1) 0%, rgba(5, 23, 99, 1) 74%);
    display: flex;
    /* margin-top: 0; */
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.logob .nav-lista {
    margin-right: 8%;
}

.logob img {
    margin-left: 10%;
    filter: invert(1);
}

.nav-lista li {
    color: white;
}

/* header {
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
  } */

header img {
    width: 90px;
    height: 90px;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header li {
    margin: 0 10px;
}

header a {
    color: white;
    text-decoration: none;
}

.login {
    font-family: Arial, sans-serif;
}

.alerta_erro {
    display: none;
}

.card_erro {
    background-color: #f44336;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: transparent;
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    border: 5px solid white;
}

.card input::placeholder{
    text-align: center;
}

.card-cadastro {
    width: 500px;
}

.formulario {
    margin-top: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* Add a hover effect to the button */
.botao:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

/* Add a focus effect to the input fields */
.campo input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.campo span {
    font-size: 14px;
    margin-bottom: 5px;
}

.campo input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.botao {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Style the nav element */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Style the nav links */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Add a hover effect to the nav links */
nav a:hover {
    color: #ddd;
}