body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #333;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  font-size: 18px;
  padding: 10px 30px;
  margin: 21px;
  cursor: pointer;
  background-color: rgb(190, 6, 190);
  border: none;
  color: white;
}

button:hover {
  background-color: rgb(250, 4, 250);
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.conteiner {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  width: 60vw;
  height: 100px;
}
.conteiner p{
 font-size: 25px;
 text-align: center;
 width: 40vw;
 margin: auto;
}

.titulochose{
  font-size: 60px; 
  color: purple; 
  text-shadow: -1px 0 black, 0 7px black, 7px 0 black, 0 -1px black;
}

#transparente {
  background-color: rgb(0, 0, 0, 0.533);
  background-size: cover;
  height: 100%;
}

.logob {
  background: rgb(83, 36, 120);
  background: linear-gradient(90deg, rgba(83, 36, 120, 1) 0%, rgba(140, 0, 247, 1) 50%, rgba(178, 77, 255, 1) 100%);
  display: flex;
  /* margin-top: 0; */
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.logob .nav-lista {
  margin-right: 8%;
}

.logob img {
  margin-left: 10%;
  filter: invert(1);
}

.nav-lista li {
  color: white;
}


header img {
  width: 90px;
  height: 90px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header li {
  margin: 0 10px;
}

header a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  color: white;
}

main h1 {
  text-align: center;

}

main p {
  text-align: justify;
}