body{
    margin: 0px 0px 0px 0px;
}

.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
}

.conteiner{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    width: 90vw;
    height: 85vh;
    
}

#logoa{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -175px;
}


.game {
    margin-left: 93px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    width: 500px;
    height: 400px;
    justify-content: space-between;
    border-radius: 10%;
    background-image: url(war\ table.jpg);
    flex-basis: 80%;
}
.exib{
    color: white;
    font-size: 50px;
    text-align: center;
    
}

/*  */
.boximg{
    flex-basis: 20%;
    height: 85vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5px;

}
.boximg img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 200px;
    border: gold solid 5px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F0EAD6;
}
/* Style the buttons */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Add a hover effect to the buttons */
button:hover {
    background-color: #3e8e41;
}

/* Add a focus effect to the buttons */
button:focus {
    outline: none;
}

/* Add a transition effect to the buttons */
button {
    transition: all 0.3s;
}

/* Add an active effect to the buttons */
button:active {
    transform: translateY(4px);
}
h2 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #663333;
  text-align: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-image: url("https://i.pinimg.com/originals/b9/8a/bc/b98abc1a4ecbc6233c5fbdb1ceed29d1.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    
  }
  
#transparente{
  background-color: rgb(0, 0, 0, 0.533);
  background-size: cover;
  height: 100%;
}


.logob{
  background: rgb(83,36,120);
  background: linear-gradient(90deg, rgba(83,36,120,1) 0%, rgba(140,0,247,1) 50%, rgba(178,77,255,1) 100%);
  display: flex;
  /* margin-top: 0; */
  justify-content: space-between;
  align-items: center;  
  text-decoration: none;
  list-style: none;
}

.logob .nav-lista{
  margin-right: 8%;
}

.logob img{
  margin-left: 10%;
  filter: invert(1);
}

.nav-lista li{
  color: white;
}
  /* header {
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
  } */
  
  header img {
    width: 90px;
    height: 90px;
  }
  
  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header li {
    margin: 0 10px;
  }
  
  header a {
    color: white;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: white;
  }
  
  main h1 {
    text-align: center;
    
  }
  
  main p {
    text-align: justify;
  }


